hard - easy
abundance - enough 
abundance - plenty
accede - allow
accede to - agree to
accelerate - speed up
accentuate - stress
accommodation - room 
accompany - go with
accomplish - do
accorded - given
accordingly - thus 
accordingly - so 
accrue - add
accure - gain
accurate - right
acquiesce - agree
acquire - get
additional - extra 
address - discuss
addressees - you
adjacent to  - Next to
adjustment - change
adjustment - alteration
admissible - allowed
admissible - accepted
advantageous - helpful
adversely impact on - hurt
adversely impact on - set back
advise - tell 
aggregate - total
aircraft - airplane
aircraft - aeroplane 
alleviate - ease
alleviate - reduce
allocate - divide
along the lines of - like
along the lines of - as in
alternatively - or
ameliorate - improve
ameliorate - help
and particularly - particularly 
anticipate - expect
a number of - some
applicant - you 
application - use
apparent - clear
apparent - plain
apprehend - arrest 
appreciable - many
appropriate - proper
appropriate - right
approximate - about 
arrive onboard  - arrive
ascertain - find out
ascertain - learn
as of yet - yet
attempt - try
at this point in time - now
attributable to  - because
at your earliest convenience  - as soon as you can 
authorize - allow
beg - ask
belated - late
beneficial - helpful
beneficial - useful
bestow - give
bestow - award
beverage - drink 
capability - ability
caveat - warning
cease - stop 
chauffeur - driver 
close proximity  - near
combat environment  - combat
combined - joint
commence - begin
commence - start 
completely revoke  - revoke 
comply with - follow 
complete - fill in 
componen - part
comprise - form
conceal - hide 
general consensus - consensus
consequently - so 
consolidate - join
consolidate - merge
contains - has
convene - meet
corridor - hall 
deem - believe
deem - think
demonstrate - prove
demonstarte - show
designate - choose
the undersigned desires - I want
the undersigned is - I am
desire - wish
despite the fact that  - although 
determine - decide
disclose - show
disseminate - pass
does not have  - lacks 
due to the fact that  - since 
during the time that  - while 
early beginnings - beginnings
early beginnings - early days 
economical - cheap
effect modifications  - make changes
elucidate - explain 
emphasize - stress
employ - use
enclosed please find  - I have enclosed
enclosed - attached
encounter - meet
endeavor - try 
enquiry - question
ensure - make sure 
entitlement - right
enumerate - count
equally as  - equally 
equipments - equipment
equitable - fair
equivalent - equal
establish - set up
evidenced - showed
evince - show
excluding - except
exclusively - only
exhibit - show
expedite - hurry 
expeditious - fast
expeditious - quick
expend - spend
expertise - ability
expiration - end
facilitate - ease
facilitate - help
fauna - animals
feasible - workable
females - women
finalize - complete
first and foremost  - first,
flora - plants
following - after
forfeit - lose
forfeit - give up
formulate - plan
forward - send 
frequently - often
function - work
furnish - give send
has a duty to  - must 
has a requirement for  - needs
honest truth  - truth 
however - but
however - yet 
identical - same
identify - find
identify with - agree
identify with - understand 
if and when - if 
immediately - at once
impacted - affected
impacted - changed
implement - carry out
in addition  - also
in all likelihood - probably 
inasmuch - since 
in a timely manner - on time
in a timely manner - promptly
in between  - between
inception - start
incumbent upon  - must
indication - sign
individual - person 
in excess of - more than 
in favor of - for 	
initiate - start
in lieu of - instead of
in light of the fact that - because 
in many cases - often 
inquire - ask 
in regard(s) to  - concerning
in some instances - sometimes 
inside of  - inside
institute legal proceedings against - sue
bring action against  - sue 
interpose no objection  - don't object
in the amount of - for
in the case of - when 
in the event of - if 
in the majority of instances - usually 
in the nature of - like 
in the near future - shortly
in view of - since
in view of the above - so
irregardless - regardless 
is applicable to - applies to
is authorized to - may
is in consonance with - agrees with
it appears - seems
it is essential - must
it is essential - need to
it is requested - please
it is requested - we request
it is requested - I request
liaison - discussion
last will and testament - will 
magnitude - size
maintain - keep
majority - most
make an attempt - try 
make reference to - refer
maximum - greatest
maximum - largest
maximum - most
mental attitude - attitude 
merge - combine 
methodology - method
minimize - decrease
minimum - least
minimum - smallest
modify - change
monitor - check
montior - watch
moreover - what's more 
multiple - many 
necessitate - cause
nevertheless - still
nevertheless - besides
nevertheless - even so 
notify - let know
notify - tell
not able  - unable 
not accept  - reject 
not certain  - uncertain 
not unlike  - similar
not unlike - alike 
not many  - few 
not often  - seldom
not often - rarely 
not the same - different 
notwithstanding - in spite of
null and void  - null
void - void 
numerous - many 
objective - goal
obtain - get 
off of  - off
on request  - if you ask 
on a daily basis  - daily
on a weekly basis  - weekly
on a monthly basis - monthly
on the part of  - by 
operate - run
operate - use
operate - work
optimum - best
option - choice
orientate - orient 
outside of  - outside
oversight  - oversee 
owing to the fact that  -  since 
participate - take part
particulars - details 
pass away - die 
per annum - a year 
perchance - perhaps 
perform - do
permit - let
perspire - sweat 
peruse - read 
PIN number - PIN 
place - put 
portion - part
possess - have 
possess - own
particular point in time - moment
potentiality - potential 
practicable - practical
preclude - prevent
preowned  - used 
previously  - before 
preparatory to - to prepare for 
prior to - before 
prioritize - rank
proceed - go ahead
proficiency - skill
promulgate - issue
promulgate - issue
provided that - if 
provide guidance for - guide
purchase - buy 
quite puzzling  - baffling 
refer back  - refer 
regard as being  - regard as
relocate - move
remain - stay
remainder - 	rest
remuneration - pay
remuneration -  payment
request - ask
requirement - need
reside - live
residence - house 
retain - keep
retire - go to bed 
selection - choice
shall - must 
should you wish - if you want 
similar to - like
solicit - ask for
state-of-the-art - latest
strategize - plan 
substantial - large
successfully complete  - complete
sufficient - enough 
terminate - end
than was formerly the case   - now 
therefore - thus
therein - there
the undersigned - I
the undersigned is - I am
timely - prompt
to be violative of  - violate 
took advantage of  - preyed 
transpire - happen 
transmit - send 
under the provisions of  - under
until such time as  - until 
validate - confirm	
variation  - change
various different  - various
various different - different
viable - practical
viable - workable
warrant - call for 
we are in receipt of  - we've received 
whether or not  - whether
whosoever - whoever
whomsover - whomever 
with the exception of  - except for
with the minimum of delay - quickly
witnessed - saw
you are requested  - please
your attention is drawn - please see
your attention is drawn - please note
your office  - you